@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono&display=swap');

$nord00: rgb(36, 41, 51);
$nord0: #2e3440;
$nord1: #3b4252;
$nord2: #434c5e;
$nord3: #4c566a;

$nord4: #d8dee9;
$nord5: #e5e9f0;
$nord6: #eceff4;

$nord7: #8fbcbb;
$nord8: #88c0d0;
$nord9: #81a1c1;
$nord10: #5e81ac;

$nord11: #bf616a;
$nord12: #d08770;
$nord13: #ebcb8b;
$nord14: #a3be8c;
$nord15: #b48ead;

.current {
	color: $nord6;
}

.left {
	text-align: left;
	float: left;
}

.right {
	text-align: right;
	float: right;
}

.nav {
	height: 30px;
}

.post {
	margin: 0;
	padding: 3px 10px 10px 10px;
}

.post-date {
	font-size: 16px;
	line-height: 20px;
}

hr {
	color: $nord2;
}

body {
	background-color: $nord00;
	font-family: 'Roboto', sans-serif;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}
main {
	padding: 3% 25% 0% 25%;
}


h1 {
	color: $nord6;
	font-size: 26px;
}

h2 {
	color: $nord5;
	font-size: 24px;
}

a {
	color: $nord7;
	text-decoration: none;
	font-size: 20px;
}

a:hover {
	text-decoration: underline;
}

p, li {
	color: $nord4;
	font-size: 20px;
	line-height: 1.75em;
}

code {
	color: $nord4;
	font-size: 18px;
	font-family: 'Roboto Mono', monospace;
}

.language-plaintext {
	background-color: $nord1;
	padding: 5px 10px 5px 10px;
	border-radius: 5px;
}

footer {
	margin-top: auto;
	width: 50%;
	padding: 0% 25% 3% 25%;
}

.footer-text {
	font-size: 16px;
}


